// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Swiper styles
@import 'swiper/css';
@import 'swiper/css/pagination';

@media only screen and (min-width: 4096px) {
  // body: {
  //   --background: black;
  // }
  ion-app.ion-page {
    background: black;
  }

  app-playlist.ion-page {
    left: 30% !important;
    right: 30% !important;
    box-shadow: 12px 0 20px 14px rgba(125, 119, 255, 0.6), -12px 0 20px 14px rgba(125, 119, 255, 0.6);
  }
}
