ion-toolbar {
    // TODO test transparent and fullscreen
    --background: transparent;
    --border-color: transparent;
}

swiper-container {
    width: 100%;
    height: 100%;
    --swiper-theme-color: #3880ff;
    --swiper-pagination-color: #3880ff;
}

swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

// Ensure touch events work
ion-content {
    --overflow: hidden;
}

swiper-container::part(container) {
    overflow: visible;
}

swiper-container::part(wrapper) {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.slide-title {
    //    margin-top: 0.8rem;
    margin-top: 0;
}

.slide-image {
    max-height: 40%;
    max-width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
}

b {
    font-weight: 500;
}

p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    b {
        color: #000000;
    }
}