<ion-header no-border color="dark">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button id="event-menu-button" menu="app-menu" color="light"></ion-menu-button>
        </ion-buttons>

        <ion-title color="light">
            OpenDJ
        </ion-title>

        <ion-buttons slot="end" margin-right>
            <ion-button id="event-more-options" color="light" (click)="presentMoreOptions($event)">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <div class="event-form-wrapper">


        <!-- 
        <ion-card *ngIf="(event?.eventID == userState?.currentEventID) && (userState?.isEventOwner)" style="background-color: #111; padding: 10px;">
            <p style="color: #fff; font-size: 18px;">You are logged in as Event owner.</p>
            <ion-button (click)="editEvent()" tappable>
                <ion-icon name="build" slot="start"></ion-icon>
                Edit
            </ion-button>
            <ion-button color="danger" (click)="deleteAlertConfirm()" tappable>
                <ion-icon name="trash" slot="start"></ion-icon>
                Delete
            </ion-button>
        </ion-card>
-->

        <ion-card *ngIf="event" style="background-color: #111;">

            <img src="assets/img/Logo_OpenDJ_128.png" class="event-logo-left" />
            <img src="assets/img/event_redhat.png" class="event-logo-right" />

            <ion-card-header>
                <!--                <div style="width: 75%;  position: absolute;  top: 75px; color: #fff;">
-->
                <ion-card-title>{{event.name}}</ion-card-title>
                <ion-card-subtitle style="color: white">organized by {{event.owner}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content class="event-content">
                <p style="color: white;">
                    Welcome to OpenDJ! We would like to know who you are, please enter a name.
                    <span *ngIf="event.passwordUser !==''">
                        Ask your host about the password of the event (our look around, it might be advertised).
                    </span>
                    <span *ngIf="event.passwordUser ==''">
                        You can stay anonymous and use any alias. Click the magic wand to generate one.
                    </span>

                </p>

                <form [formGroup]="loginForm">
                    <ion-list lines="none" padding style="background: transparent !important; margin: 0 20px;">

                        <ion-item class="loginFormItem">
                            <ion-input id="username" formControlName="username" type="text" clearInput="true" placeholder="Username" class="loginFormInputField">
                            </ion-input>
                            <ion-note slot="end">
                                <ion-button id="generateUsername" (click)="generateUsername()" tappable shape="round" color="primary" size="small" fill="outline">
                                    <ion-icon name="sparkles"></ion-icon>
                                </ion-button>
                            </ion-note>
                        </ion-item>

                        <ion-item *ngIf="event.passwordUser !==''" class="loginFormItem">
                            <ion-input id="password" formControlName="password" type="password" clearInput="true" placeholder="Password" class="loginFormInputField">
                            </ion-input>
                        </ion-item>

                    </ion-list>

                    <div style="text-align: center;">
                        <ion-button id="join" type="submit" shape="round" size="small" color="primary" (click)="join()" tappable style="width: 75%">
                            Join Event
                        </ion-button>
                    </div>

                    <div style="color:rgb(100, 100, 100)">We use cookies, you accept <a href="/ui/legal">this</a> by clicking above</div>


                </form>

            </ion-card-content>

        </ion-card>


    </div>

</ion-content>