<ion-header>
    <ion-toolbar color="opendj">
        <ion-buttons slot="start">
            <ion-button (click)="dismiss(null)">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <span *ngIf="context === 'user'">User Login</span>
            <span *ngIf="context === 'owner'">Owner Login</span>
            <span *ngIf="context === 'curator'">Curator Login</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <form [formGroup]="loginForm">

        <ion-list lines="none" padding style="background: transparent !important; margin: 0 20px;">

            <ion-item class="loginFormItem">
                <ion-input name="login-modal-username" formControlName="username" type="text" clearInput="true" placeholder="Username" class="loginFormInputField">
                </ion-input>
                <ion-note slot="end" *ngIf="context !== 'owner'">
                    <ion-button id="login-modal-generateUsername" (click)="generateUsername()" tappable shape="round" color="primary" size="small">
                        <ion-icon name="sparkles"></ion-icon>
                    </ion-button>
                </ion-note>
            </ion-item>

            <ion-item *ngIf="context === 'owner' || context === 'curator' || (context ==='user' && currentEvent.passwordUser !=='')" class="loginFormItem">
                <ion-input name="login-modal-password" formControlName="password" type="password" clearInput="true" placeholder="Password" class="loginFormInputField">
                </ion-input>
            </ion-item>

        </ion-list>

        <div style="text-align: center;">
            <ion-button id="login-modal-login" type="submit" shape="round" color="primary" fill="outline" (click)="join()" tappable>
                <span *ngIf="context === 'user'">Join as User</span>
                <span *ngIf="context === 'owner'">Login as Owner</span>
                <span *ngIf="context === 'curator'">Join as Curator</span>
            </ion-button>
        </div>

    </form>

</ion-content>