<!-- <div class="context"> -->

<ion-header no-border color="dark">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button id="playlist-menu-button" menu="app-menu" color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">
            {{currentEvent?.name}} by {{currentEvent?.owner}}
            <!--            {{currentEvent?.name}} - {{currentPlaylist?.nextTracks?.length}} Tracks
    -->
        </ion-title>

        <ion-buttons slot="end">
            <ion-icon style="margin:10px; font-size:20px" *ngIf="isConnected" color="light" name="wifi" tooltip="You are connected to the server and receive updates to the playlist automatically" [options]="tooltipOptions"></ion-icon>
        </ion-buttons>

    </ion-toolbar>

    <!--     Current Track not fixed on top, can be scrolled away for regular users
    (in favor of more visible tracks)
    <ion-toolbar color="dark">
        <app-current-track *ngIf="currentPlaylist && currentPlaylist?.currentTrack" [currentEventInput]="currentEvent" [trackInput]="currentPlaylist?.currentTrack" [isCurator]="false" [isPlaying]="currentPlaylist?.isPlaying"></app-current-track>
    </ion-toolbar>
-->

</ion-header>

<ion-content color="dark">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-current-track *ngIf="currentPlaylist" [currentEventInput]="currentEvent" [trackInput]="currentPlaylist?.currentTrack" [isCurator]="false" [isPlaying]="currentPlaylist?.isPlaying" [user]="this.userState" [trackFeedback]="this.trackFeedback" (currentTrackFeedbackEvent)="currentTrackFeedback($event)"></app-current-track>

    <ion-grid class="track-grid">
        <ion-row nowrap *ngFor="let item of currentPlaylist?.nextTracks;  index as i; trackBy: trackElement">
            <!-- Album Cover-->
            <ion-col size="auto" class="align-self-center">
                <a href="{{item.image_url_ref}}" target="_blank">
                    <img class="track-cover-pic" src="{{item.image_url}}">
                </a>
            </ion-col>

            <!-- Track Details-->
            <ion-col class="ion-align-self-center ion-text-nowrap">
                <div class="track-header ion-text-nowrap" tooltip="Name of the track" [options]="tooltipOptions">{{item.name}}</div><br>
                <div class="track-details ion-text-nowrap" tooltip="Name of the Artist and year of publication" [options]="tooltipOptions">{{item.artist}} {{item.year}}</div><br>
                <div class="track-details ion-text-nowrap" tooltip="User who contributed this track and estimated time when this track will be played" [options]="tooltipOptions">{{item.added_by}} - {{item.eta}}</div>
            </ion-col>


            <!-- Provider Logo -->
            <ion-col size="auto" class="track-provider-col ion-align-self-center">
                <!--                 
                <a *ngIf="item.preview" href="{{item.preview}}" target="_blank">
                    <ion-img src="assets/img/provider/spotify_icon_active_64.png " class="track-provider-logo ">
                    </ion-img>
                </a>
            -->
                <ion-button *ngIf="item.preview" href="{{item.preview}} " target="_blank" id="action-preview-{{item.id}}" size="small" class="track-provider-button" expand="block" fill="clear" shape="round" color="primary " tappable>
                    <ion-img slot="icon-only" src="assets/img/provider/spotify_icon_active_64.png " class="track-provider-logo"></ion-img>
                </ion-button>
                <ion-button *ngIf="!item.preview" (click)="noPreview(item)" id="action-preview-{{item.id}}" size="small" class="track-provider-button" expand="block" fill="clear" shape="round" color="primary " tappable>
                    <ion-img slot="icon-only" src="assets/img/provider/spotify_icon_active_64.png " class="track-provider-logo"></ion-img>
                </ion-button>

            </ion-col>

            <!-- Like/Hate Buttons-->
            <ion-col *ngIf="currentEvent.enableTrackLiking" (click)="trackLike(item)" tappable size="auto" class="track-feedback ion-text-nowrap ion-align-self-center" id="track-like-{{i}}">
                <div class="track-feedback-icon">{{currentEvent.emojiTrackLike}}</div><br>
                <div [class]="isTrackLiked(item) ?'track-feedback-counter-active' : 'track-feedback-counter-passive'">{{item.numLikes ? item.numLikes : 0}}</div>
            </ion-col>
            <ion-col *ngIf="currentEvent.enableTrackHating" (click)="trackHate(item)" tappable size="auto" class="track-feedback ion-text-nowrap ion-align-self-center" id="track-hate-{{i}}">
                <div class="track-feedback-icon">{{currentEvent.emojiTrackHate}}</div><br>
                <div [class]="isTrackHated(item) ?'track-feedback-counter-active' : 'track-feedback-counter-passive'">{{item.numHates ? item.numHates: 0}}</div>
            </ion-col>

        </ion-row>

    </ion-grid>

    <!-- Add Track Button: -->
    <ion-fab vertical="bottom " horizontal="center" slot="fixed">
        <ion-fab-button id="playlist-addTrack-button" (click)="searchAndAddTrack()" [color]="getAddTrackButtonColor()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>