- kind: ConfigMap
  apiVersion: v1
  metadata:
      name: frontend-web
      namespace: "{{ENV.COMMON.NAMESPACE|mandatory}}"
  data:
      config.json: |-
          {
          "websocketHost": "{{ENV.FRONTEND_WEB.WEBSOCKET_HOST | default('http://{{STAGE}}.opendj.io')}}" ,
          "websocketPath": "/api/service-web/socket",
          "SPOTIFY_PROVIDER_API": "{{ENV.FRONTEND_WEB.API_HOST | default('')}}/api/provider-spotify/v1" ,
          "PLAYLIST_PROVIDER_API": "{{ENV.FRONTEND_WEB.API_HOST | default('')}}/api/service-playlist/v1",
          "WEB_PROVIDER_API": "{{ENV.FRONTEND_WEB.API_HOST | default('')}}/api/service-web/v1",
          "SERVER_TIMEOUT": "{{ENV.FRONTEND_WEB.SERVER_TIMEOUT | default('7500')}}",
          "HELP_PAGE_URL": "https://github.com/opendj/opendj-docs/wiki/userguide"
          }

- kind: Deployment
  apiVersion: apps/v1
  metadata:
    name: frontend-web
    namespace: "{{ ENV.COMMON.NAMESPACE }}"
    labels:
      app: frontend
      app.kubernetes.io/name: frontend-web
      app.kubernetes.io/part-of: frontend
  spec:
    replicas: {{ ENV.FRONTEND_WEB.REPLICAS }}
    selector:
      matchLabels:
        app: frontend-web
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
    template:
      metadata:
        labels:
          app: frontend-web
      spec:
        containers:
          - name: frontend-web
            image: "{{ ENV.COMMON.CONTAINER.IMAGE_REGISTRY }}/frontend-web:{{ ENV.COMMON.CONTAINER.IMAGE_TAG }}"
            imagePullPolicy: IfNotPresent
            volumeMounts:
              - mountPath: /var/www/html/conf/config.json
                name: volume-cfgmap
                subPath: config.json
            ports:
              - containerPort: 8080
                protocol: TCP
                name: web
            securityContext:
              allowPrivilegeEscalation: false
              runAsNonRoot: true
              seccompProfile:
                type: RuntimeDefault
              capabilities:
                drop:
                  - "ALL"
            readinessProbe:
              httpGet:
                path: /health
                port: 8080
                scheme: HTTP
              initialDelaySeconds: 5
              periodSeconds: 5
              timeoutSeconds: 1
              successThreshold: 1
              failureThreshold: 3
            livenessProbe:
              httpGet:
                path: /health
                port: 8080
                scheme: HTTP
              initialDelaySeconds: 5
              periodSeconds: 5
              timeoutSeconds: 1
              successThreshold: 1
              failureThreshold: 3
            resources:
              requests:
                cpu: 50m
                memory: 64Mi
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        terminationGracePeriodSeconds: 30 
        volumes:
          - name: volume-cfgmap
            configMap:
              defaultMode: 438
              name: frontend-web
- kind: Service
  apiVersion: v1
  metadata:
    name: frontend-web
    namespace: "{{ ENV.COMMON.NAMESPACE }}"
    labels:
      app: frontend-web
  spec:
    type: ClusterIP
    ipFamilyPolicy: PreferDualStack
    sessionAffinity: None
    ports:
      - name: web
        port: 8080
        protocol: TCP
        targetPort: 8080
    selector:
      app: frontend-web

- kind: Ingress
  apiVersion: networking.k8s.io/v1
  metadata:
    name: frontend-web
    namespace: "{{ ENV.COMMON.NAMESPACE }}"
    labels:
      app: frontend-web
  spec:
    ingressClassName:  "{{ ENV.COMMON.K8S.INGRESSCLASS }}"
    tls:
      - hosts:
          - "{{ ENV.COMMON.DNS_BASENAME }}"
        secretName: "{{ ENV.COMMON.K8S.INGRESS_TLS_SECRET }}"
    rules:
      - host: "{{ ENV.COMMON.DNS_BASENAME }}"
        http:
          paths:
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: frontend-web
                  port:
                    name: web
