<ion-app id="app-main">

    <ion-menu contentId="main-content" menuId="app-menu" swipe-gesture="false">
        <ion-content fullscreen color="dark">

            <ion-header>
                <ion-toolbar color="dark">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-list class="ion-no-padding" color="dark">
                <ion-menu-toggle>
                    <ion-item color="dark" *ngIf="userState?.isLoggedIn">
                        <ion-icon slot="start" name="person"></ion-icon>
                        <ion-label>
                            {{userState.username}}
                        </ion-label>
                        <ion-icon name="star" slot="end" *ngIf="!userState?.isCurator && !userState?.isEventOwner"></ion-icon>
                        <ion-icon name="star" slot="end" *ngIf="userState?.isCurator && !userState?.isEventOwner" color="warning"></ion-icon>
                        <ion-icon name="star" slot="end" *ngIf="userState?.isEventOwner" color="danger"></ion-icon>
                    </ion-item>

                    <ion-item *ngIf="userState?.isLoggedIn" [routerDirection]="'root'" routerLink="/ui/playlist-user" color="opendj">
                        <ion-icon id="app-menu-userview-icon" slot="start" name="musical-notes"></ion-icon>
                        <ion-label id="app-menu-userview-label">User View</ion-label>
                    </ion-item>
                    <ion-item *ngIf="userState?.isCurator" [routerDirection]="'root'" routerLink="/ui/playlist-curator" color="opendj">
                        <ion-icon id="app-menu-curatorview-icon" slot="start" name="navigate"></ion-icon>
                        <ion-label id="app-menu-curatorview-label">Curator View</ion-label>
                    </ion-item>

                    <ion-item *ngIf="userState?.isCurator" [routerDirection]="'root'" routerLink="/ui/event-view" color="opendj">
                        <ion-icon id="app-menu-eventview-icon" slot="start" name="desktop"></ion-icon>
                        <ion-label id="app-menu-eventview-label">Event View</ion-label>
                    </ion-item>

                    <ion-item *ngIf="userState?.isEventOwner" [routerDirection]="'root'" routerLink="/ui/event-edit" color="opendj">
                        <ion-icon id="app-menu-editevent-icon" slot="start" name="options"></ion-icon>
                        <ion-label id="app-menu-editevent-label">Edit Event</ion-label>
                    </ion-item>

                    <ion-item *ngIf="event?.usersCanAddProvider && !userHasAddedSpotify()" button (click)="addSpotify()" color="opendj" color="opendj">
                        <ion-img slot="start" src="assets/img/provider/spotify_icon_passive_light_64.png" class="spotify-logo"></ion-img>
                        <ion-label id="app-menu-addspotify-label">Add your Spotify</ion-label>
                    </ion-item>

                    <ion-item *ngIf="event?.usersCanAddProvider && userHasAddedSpotify()" button (click)="removeSpotify()" color="opendj" color="opendj">
                        <ion-img slot="start" src="assets/img/provider/spotify_icon_passive_light_64.png" class="spotify-logo"></ion-img>
                        <ion-label id="app-menu-removespotify-label">Remove your Spotify</ion-label>
                    </ion-item>

                    <ion-item button (click)="logout()" color="opendj" *ngIf="userState?.isLoggedIn">
                        <ion-icon id="app-menu-logout-icon" slot="start" name="log-out"></ion-icon>
                        <ion-label id="app-menu-logout-label">
                            Logout
                        </ion-label>
                    </ion-item>

                    <ion-item button (click)="home()" color="opendj">
                        <ion-icon id="app-menu-home-icon" slot="start" name="home"></ion-icon>
                        <ion-label id="app-menu-home-label">Home</ion-label>
                    </ion-item>

                    <ion-item button (click)="help()" color="opendj">
                        <ion-icon id="app-menu-help-icon" slot="start" name="help-circle-outline"></ion-icon>
                        <ion-label id="app-menu-help-label">Help</ion-label>
                    </ion-item>

                    <ion-item button routerDirection="root" routerLink="/ui/legal" color="dark">
                        <ion-icon id="app-menu-legal-icon" slot="start" name="nuclear"></ion-icon>
                        <ion-label id="app-menu-legal-label">Legal</ion-label>
                    </ion-item>

                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" [swipeGesture]="false"></ion-router-outlet>
    <!--
    <div *ngIf="platform.is('desktop')" class="desktop-footer" padding>
        <a href="https://www.openshift.com/" title="Powered by OpenShift Online">
            <img alt="Powered by OpenShift Online" title="Powered by OpenShift Online" src="https://www.openshift.com/images/logos/powered_by_openshift_reverse.png" />
        </a>
    </div>
-->
</ion-app>