<!-- 
    Playlist page for curators. As we need to add more functionality and infos,
    we assume/optimize a larger device (tablet) for curators. But it should work on a smaller
    device (mobile), maybe landscape mode is required to see all infos.
    Max 3 rows of text/items per Track, to save on vertical space
-->
<ion-header no-border color="dark">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button id="playlist-menu-button" menu="app-menu" color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">
            {{currentEvent?.name}} - {{currentPlaylist?.nextTracks?.length}} Tracks
        </ion-title>

        <ion-buttons slot="end">
            <ion-icon style="margin:10px; font-size:20px" *ngIf="isConnected" color="light" name="wifi" tooltip="You are connected to the server and receive updates to the playlist automatically" [options]="tooltipOptions"></ion-icon>
        </ion-buttons>

    </ion-toolbar>

    <!-- Current Track always visible on top, important for Curators
    to see when the next track will start: -->
    <ion-toolbar color="dark">
        <app-current-track *ngIf="currentPlaylist" [currentEventInput]="currentEvent" [trackInput]="currentPlaylist.currentTrack" [isCurator]="true" [isPlaying]="currentPlaylist.isPlaying" [user]="this.userState" (newPlaylist)="this.handlePlaylistUpdate($event)"></app-current-track>
    </ion-toolbar>

</ion-header>

<ion-content color="dark">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- TODO: Get rid of this See issue#183
    <ion-button id="startPlaylist" *ngIf="currentPlaylist?.nextTracks?.length > 0 && currentPlaylist?.currentTrack === null" (click)="playTrack()">Start Playlist</ion-button>
-->

    <ion-grid class="track-grid">
        <ion-reorder-group (ionItemReorder)="handleTrackReorderEvent($event)" disabled="false">


            <!-- TODO: Test sepration lines between rows as visual guidance for wide displays (tablet in landscape mode)-->

            <!-- Virtual Scroll seems not to be working with reorder-group: -->
            <!--
            <ion-virtual-scroll [items]="currentPlaylist?.nextTracks" virtualTrackBy="item.id" approxItemHeight="63px">
                <ion-row nowrap *virtualItem="let item" id="track-{{item.id}}">
-->
            <ion-reorder *ngFor="let item of currentPlaylist?.nextTracks;  index as i; trackBy: trackElement">
            <ion-row nowrap>
                <!-- Album Cover-->
                <ion-col *ngIf="platform.width()>420" size="auto" class="ion-align-self-center">
                    <a href="{{item.image_url_ref}}" target="_blank">
                        <img class="track-cover-pic" src="{{item.image_url}}">
                    </a>
                </ion-col>

                <!-- Track Details: 3 rows: Name, Artist, Contributor/Duration/ETA -->
                <ion-col class="ion-align-self-center ion-text-nowrap">
                    <div class="track-header ion-text-nowrap" tooltip="Name of the track" [options]="tooltipOptions">{{item.name}}</div>
                    <div class="track-details ion-text-nowrap" tooltip="Name of the Artist and year of publication" [options]="tooltipOptions">{{item.artist}}</div>
                    <div class="track-details ion-text-nowrap" tooltip="User who contributed this track and estimated time when this track will be played" [options]="tooltipOptions">{{item.durationStr}} eta {{item.eta}} - {{item.added_by}}</div>
                </ion-col>


                <!-- We drop columns when width is not enough. This is indicated with "..." -->
                <ion-col *ngIf="platform.width()<636" size="auto" class="ion-align-self-center ion-text-nowrap workaroundTransparency" tooltip="Indicates that there is more info available, but not enough space to display. Tip: flip you phone!">
                    <div class="track-meta">
                        ...<br>...<br>...
                    </div>
                </ion-col>

                <!-- Track Meta1: 3 rows: genre, year, bpm -->
                <ion-col *ngIf="platform.width()>=500" size="auto" class="ion-align-self-center ion-text-nowrap workaroundTransparency track-genre-col">
                    <div class="track-meta">{{item.genre}}</div>
                    <div class="track-meta">{{item.year}}</div>
                    <div class="track-meta">{{item.bpm}} bpm</div>
                </ion-col>

                <!-- Track Meta2: 3 rows: Danceability, Engery, Happiness, as bars: -->
                <ion-col *ngIf="platform.width()>=636" size="auto" class="ion-align-self-center ion-text-nowrap workaroundTransparency track-meta-col">
                    <ion-progress-bar value="{{item.danceability / 100.0}}" type="determinate" tooltip="danceability: {{item.danceability}}%" [options]="tooltipOptions" class="track-meta-bar track-meta-bar-danceability"></ion-progress-bar>
                    <ion-progress-bar value="{{item.energy / 100.0}}" type="determinate" tooltip="energy: {{item.energy}}%" [options]="tooltipOptions" class="track-meta-bar track-meta-bar-energy"></ion-progress-bar>
                    <ion-progress-bar value="{{item.happiness / 100.0}}" type="determinate" tooltip="happiness: {{item.happiness}}%" [options]="tooltipOptions" class="track-meta-bar track-meta-bar-happiness"></ion-progress-bar>
                </ion-col>

                <!-- Track Feedback: 0-2 rows: Like/Hate Counters. Num rows depends on what is enabled, If none, column is dropped -->
                <ion-col *ngIf="platform.width()>=590 && (currentEvent.enableTrackLiking || currentEvent.enableTrackHating)" size="auto" class="ion-text-nowrap ion-align-self-center workaroundTransparency track-feedback-col">
                    <div *ngIf="currentEvent.enableTrackLiking" class="track-meta">{{currentEvent.emojiTrackLike}} {{item.numLikes ? item.numLikes : 0}}<br/></div>

                    <div *ngIf="currentEvent.enableTrackHating" class="track-meta">{{currentEvent.emojiTrackHate}} {{item.numHates ? item.numHates : 0}}<br/></div>

                </ion-col>


                <!-- Action Buttons (DEL, TOP, FIT, SEL), maybe as ICONS only to save space-->
                <ion-col size="auto" class="track-action-col ion-align-self-center ion-text-nowrap workaroundTransparency">
                    <!-- SEL 
                    <ion-checkbox color="success" class="track-action-select" [checked]="isTrackSelected(item.id)" (click)="selectTrack(item, i)"></ion-checkbox>
                    -->

                    <!-- FIT -->
                    <ion-button id="action-fit-{{item.id}}" size="small" class="track-action-button" fill="outline" shape="round" color="warning" (click)="fitTrack(item, item.pos)" tappable>
                        <ion-icon slot="icon-only" name="code-working"></ion-icon>
                    </ion-button>

                    <!-- DEL -->
                    <ion-button id="action-del-{{item.id}}" size="small" class="track-action-button" fill="outline" shape="round" color="danger" (click)="deleteTrack(item, item.pos)" tappable>
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>

                    <!-- TOP -->
                    <ion-button id="action-top-{{item.id}}" size="small" class="track-action-button" fill="outline" shape="round" color="primary " (click)="moveTop(item, item.pos)" tappable>
                        <ion-icon slot="icon-only" name="arrow-up-circle"></ion-icon>
                    </ion-button>


                </ion-col>

                <!-- Provider Logo // Preview Button (Must be always displayed due to legal reasons -->
                <ion-col size="auto" class="track-provider-col ion-align-self-center workaroundTransparency">
                    <ion-button *ngIf="item.preview" href="{{item.preview}} " target="_blank" id="action-preview-{{item.id}}" size="small" class="track-provider-button" expand="block" fill="clear" shape="round" color="primary " tappable>
                        <ion-img slot="icon-only" src="assets/img/provider/spotify_icon_active_64.png " class="track-provider-logo"></ion-img>
                    </ion-button>

                    <ion-button *ngIf="!item.preview" href="{{item.previewViaApp}} " target="_blank" id="action-previewApp-{{item.id}}" size="small" class="track-provider-button" expand="block" fill="clear" shape="round" color="primary " tappable>
                        <ion-img slot="icon-only" src="assets/img/provider/spotify_icon_passive_light_64.png " class="track-provider-logo"></ion-img>
                    </ion-button>
                </ion-col>

                <!-- Last not least: the most important feature: the re-order button! -->
                <ion-col size="auto " class="track-mov-col  ion-align-self-center workaroundTransparency">
                    <ion-chip id="action-mov-{{item.id}}" color="secondary" class="track-action-mov">
                        <ion-label>{{item.pos}}</ion-label>
                    </ion-chip>
                </ion-col>

            </ion-row>
            </ion-reorder>
        </ion-reorder-group>


    </ion-grid>

    <!-- Add track button  -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button id="playlist-addTrack-button" (click)="searchAndAddTrack()" [color]="getAddTrackButtonColor()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>