<!-- 
    Event View for displays (TVs / projectors) at the vent location.
-->


<!-- HEADER Removed #224 
<ion-header no-border color="dark">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button id="playlist-menu-button" menu="app-menu" color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light"> EVENT-VIEW {{currentEvent?.name}} - {{currentPlaylist?.nextTracks?.length}} Tracks
        </ion-title>

        <ion-buttons slot="end">
            <ion-icon style="margin:10px; font-size:20px" *ngIf="isConnected" color="light" name="wifi" ></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
-->

<ion-content color="dark" class="event-view-content">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- -----------------------         DISABLED VIEW      ------------------------------------- -->
    <!-- ---------------------------------------------------------------------------------------- -->
    <ion-grid *ngIf="currentEvent && !currentEvent.eventViewEnable" fixed="false" class="hor-page-grid">


        <ion-row>
            <ion-col size="12" class="ion-align-self-start ion-text-center hor-col-disabled">
                <ion-chip color="danger" class="ion-text-center">
                    <ion-label><b>Event view is disabled by owner</b></ion-label>
                </ion-chip><br>

                <ion-img *ngIf="platform.width()<550" src="assets/img/Logo_OpenDJ_512.png" (click)="showMenu()" tappable class="hor-opendj-logo-disabled"></ion-img>
                <video *ngIf="platform.width()>=550" autoplay loop muted playsinline width="512" height="512" poster="assets/img/Logo_OpenDJ_512.png" (click)="showMenu()" tappable class="hor-opendj-logo-disabled">
                    <source src="assets/img/Logo_OpenDJ_Anim_512_crf18.webm" type="video/webm">
                </video><br>

                <ion-chip color="danger" class="ion-text-center">
                    <ion-label><b>Event view is disabled by owner</b></ion-label>
                </ion-chip><br>

            </ion-col>
        </ion-row>

        <!--
        <ion-row>
            <ion-col size="12" class="ion-align-self-start ion-text-center">
                <ion-chip color="danger" class="ion-text-center">
                    <ion-label><b>Event view is disabled by owner</b></ion-label>
                </ion-chip><br>
            </ion-col>
        </ion-row>
-->

    </ion-grid>


    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- ----------------------- HORIZONTAL / LANDSCAPE VIEW------------------------------------- -->
    <!-- ---------------------------------------------------------------------------------------- -->
    <ion-grid *ngIf="currentEvent && currentEvent.eventViewEnable" fixed="false" class="hor-page-grid">
        <ion-row>
            <!-- LEFT HAND SIDE -->
            <ion-col *ngIf="platform.width()>=768" size="3" class="hor-col-left ion-align-self-start ion-text-center">
                <ion-img *ngIf="platform.width()<960" src="assets/img/Logo_OpenDJ_256.png" class="hor-opendj-logo" (click)="showMenu()" tappable></ion-img>

                <video *ngIf="platform.width()>=960" autoplay loop muted playsinline width="256" height="256" poster="assets/img/Logo_OpenDJ_256.png" (click)="showMenu()" tappable>
                    <source src="assets/img/Logo_OpenDJ_Anim_256_crf18.webm" type="video/webm">
                </video>

                <!-- remove twitter feed #259                
                <ngx-twitter-timeline *ngIf="currentEvent.eventViewTwitterURL" [data]="{sourceType: 'url', url: currentEvent.eventViewTwitterURL}" [opts]="{theme: 'dark', tweetLimit: 5, chrome:'nofooter noscrollbar transparent' }"></ngx-twitter-timeline>
-->
                <ion-list *ngIf="!currentEvent.eventViewTwitterURL && currentEvent.eventViewShowActivityFeed" lines="none" class="ion-text-nowrap ion-no-padding" color="dark">
                    <ion-list-header color="dark">Recent Activity:
                    </ion-list-header>

                    <ion-item *ngFor="let activity of activityList" color="dark" class="activity-item">
                        <ion-label class="activity-label">
                            {{activity.timestamp}} {{activity.display}}
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>

            <!-- CENTER Column -->
            <ion-col size="6" class="hor-col-center">
                <app-current-track *ngIf="currentPlaylist" [currentEventInput]="currentEvent" [trackInput]="currentPlaylist.currentTrack" [isCurator]="false" [isPlaying]="currentPlaylist.isPlaying"></app-current-track>

                <ion-grid class="hor-track-grid" id="track-grid">


                    <!--
                    <ion-virtual-scroll [items]="currentPlaylist?.nextTracks" virtualTrackBy="item.id" approxItemHeight="63px">
-->
                    <ion-row nowrap *ngFor="let item of visibleTracks;  index as i; trackBy: trackElement" id="track-{{item.id}}">
                        <!-- Album Cover-->
                        <ion-col *ngIf="platform.width()>500" size="auto" class="ion-align-self-center">
                            <a href="{{item.image_url_ref}}" target="_blank">
                                <img class="track-cover-pic" src="{{item.image_url}}">
                            </a>
                        </ion-col>

                        <!-- Track Details: 3 rows: Name, Artist, Contributor/Duration/ETA -->
                        <ion-col class="ion-align-self-center ion-text-nowrap">
                            <div class="track-header ion-text-nowrap">{{item.name}}</div>
                            <div class="track-details ion-text-nowrap">{{item.artist}}</div>
                            <div class="track-details ion-text-nowrap">{{item.durationStr}} eta {{item.eta}} - {{item.added_by}}</div>
                        </ion-col>

                        <!-- Track Meta1: 3 rows: genre, year, bpm -->
                        <ion-col *ngIf="platform.width()>=1080" size="auto" class="ion-align-self-center ion-text-nowrap workaroundTransparency track-genre-col">
                            <div class="track-meta">{{item.genre}}</div>
                            <div class="track-meta">{{item.year}}</div>
                            <div class="track-meta">{{item.bpm}} bpm</div>
                        </ion-col>

                        <!-- Track Meta2: 3 rows: Danceability, Engery, Happiness, as bars: -->
                        <ion-col *ngIf="platform.width()>=1250 && currentEvent.eventViewShowMetaBars" size="auto" class="ion-align-self-center ion-text-nowrap workaroundTransparency track-meta-col">
                            <ion-progress-bar value="{{item.danceability / 100.0}}" type="determinate" class="track-meta-bar track-meta-bar-danceability"></ion-progress-bar>
                            <ion-progress-bar value="{{item.energy / 100.0}}" type="determinate" class="track-meta-bar track-meta-bar-energy"></ion-progress-bar>
                            <ion-progress-bar value="{{item.happiness / 100.0}}" type="determinate" class="track-meta-bar track-meta-bar-happiness"></ion-progress-bar>
                        </ion-col>

                        <!-- Track Feedback: 0-2 rows: Like/Hate Counters. Num rows depends on what is enabled, If none, column is dropped -->
                        <ion-col *ngIf="platform.width()>=850 && (currentEvent.enableTrackLiking || currentEvent.enableTrackHating)" size="auto" class="ion-text-nowrap ion-align-self-center workaroundTransparency track-feedback-col">
                            <div *ngIf="currentEvent.enableTrackLiking" class="track-meta">{{currentEvent.emojiTrackLike}} {{item.numLikes ? item.numLikes : 0}}<br/></div>

                            <div *ngIf="currentEvent.enableTrackHating" class="track-meta">{{currentEvent.emojiTrackHate}} {{item.numHates ? item.numHates : 0}}<br/></div>

                        </ion-col>


                        <!-- Provider Logo // Preview Button (Must be always displayed due to legal reasons -->
                        <ion-col *ngIf="platform.width()>=768" size="auto" class="track-provider-col ion-align-self-center workaroundTransparency">
                            <a href="{{item.previewViaApp}} " target="_blank ">
                                <ion-img src="assets/img/provider/spotify_icon_active_64.png" class="track-provider-logo">
                                </ion-img>
                            </a>
                        </ion-col>

                    </ion-row>
                    <!--
                    </ion-virtual-scroll>
                -->

                </ion-grid>



            </ion-col>

            <!-- RIGHT HAND SIDE -->
            <ion-col size="3" class="hor-col-right ion-text-center">
                <ion-img class="hor-event-img" src="assets/img/event_redhat.png"></ion-img>

                <ion-chip color="light" class="hor-col-right-label">
                    <ion-label>To <b>contribute</b>, follow this link:</ion-label>
                </ion-chip>

                <ion-img *ngIf="this.qrImageSrc" [src]="this.qrImageSrc" class="hor-event-qrcode"></ion-img>
                <ion-label class="hor-event-url">{{this.eventURLShortened}}</ion-label>

                <div *ngIf="platform.width()>=1250 && currentEvent.eventViewShowMetaBars" class="legend-div">
                    <ion-label class="legend-danceability">Danceability</ion-label><br>
                    <ion-label class="legend-energy">Energy</ion-label><br>
                    <ion-label class="legend-happiness">Happiness</ion-label>
                </div>

                <div *ngIf="currentEvent.eventViewShowStats" class="stats-div">
                    <ion-label class="event-stats">Users Registered: {{this.currentEventStats?.numUsers}}</ion-label><br>
                    <ion-label class="event-stats">Users Online: {{this.currentEventStats?.numUsersOnline}}</ion-label><br>
                    <ion-label class="event-stats">Max Users Registered: {{this.currentEventStats?.maxUsers}}</ion-label><br>
                    <ion-label class="event-stats">Max Users Online: {{this.currentEventStats?.maxUsersOnline}}</ion-label><br>
                    <ion-label class="event-stats">Curators Registered: {{this.currentEventStats?.numCurators}}</ion-label><br>
                    <ion-label class="event-stats">Curators Online: {{this.currentEventStats?.numCuratorsOnline}}</ion-label><br>
                    <ion-label class="event-stats">Tracks in playlist: {{this.currentPlaylist?.nextTracks.length}}</ion-label><br>
                    <ion-label class="event-stats">Tracks played: {{this.currentEventStats?.numTracksPlayed}}</ion-label><br>
                </div>

            </ion-col>
        </ion-row>

    </ion-grid>



</ion-content>