---
- name: Install OpenDJ
  gather_facts: false
  hosts: localhost
  vars_files:
    - vars_secrets.yml
    - vars_common.yml
    - vars_env_{{ STAGE }}.yml


  tasks:
    - name: "Combine env facts"
      tags: always
      set_fact:
        ENV: "{{ common | combine( specific, recursive=True) }}"

    - name: Create namespace 
      tags: prj
      k8s:
        state: present
        kubeconfig: "{{ ENV.COMMON.K8S_KUBECONFIG }}"
        wait: true
        definition:
          kind: Namespace
          metadata:
            name: "{{ ENV.COMMON.NAMESPACE|mandatory }}"
              
- import_playbook: ../../components/backend-datagrid/k8s/install.yml
#- import_playbook: ../../components/backend-eventstore/openshift/install.yml
- import_playbook: ../../components/provider-spotify/k8s/install.yml
#- import_playbook: ../../components/service-eventactivity/openshift/install.yml
#- import_playbook: ../../components/service-playlist/openshift/install.yml
#- import_playbook: ../../components/service-web/openshift/install.yml
#- import_playbook: ../../components/service-housekeeping/openshift/install.yml
#- import_playbook: ../../components/frontend-web/openshift/install.yml
