
# Common variables
# HEADS UP: Due to limitation of variable parsing, you cant
# use a variable defined here also in this file.
# So certain values might occur redudant!
# Be sure to search for them and replace ALL occurences!
common:
  COMMON:
    NAMESPACE: "opendj-{{ STAGE | mandatory}}"
# Remember to change Callback URL below, too:
    DNS_BASENAME: "{{STAGE}}.opendj.io"
    CONTAINER:
      IMAGE_TAG: "{{STAGE}}"
      IMAGE_REGISTRY: "quay.io/opendj"
      PULL_POLICY: IfNotPresent
    K8S:
      KUBECONFIG: "/Users/dfroehli/RedHat/projects/OpenDJ/secret_dev_kubeconfig.yml"
      INGRESSCLASS: "openshift-ingress"
      STORAGE_CLASS_FILE: "topolvm-provisioner"
      INGRESS_TLS_SECRET: "{{STAGE}}.opendj.io.tls"
    CERTMGR:
      DEPLOY: true
      EMAIL: "daniel.froehlich@web.de"
# For Non-PROD:
#      SERVER: "https://acme-staging-v02.api.letsencrypt.org/directory"
  # For PROD:
      SERVER: "https://acme-v02.api.letsencrypt.org/directory"

  BACKEND_EVENTSTORE:
    DEPLOY: true
    KAFKA:
      HOST: "backend-eventstore-kafka-bootstrap:9092"
      USE: true
      TOPIC_CMD:  oc --namespace dfroehli-opendj-{{STAGE}} rsh backend-eventstore-zookeeper-0 /opt/kafka/bin/kafka-topics.sh --zookeeper localhost:21810
      NUM_BROKERS: 2
      NUM_ZOOKEPERS: 1
      NUM_PARTITIONS: 1

  BACKEND_DATAGRID:
    DEPLOY: true
    URL: "backend-datagrid:11222"
    LIMIT_CPU: "1000m"
    LIMIT_MEMORY: "512Mi"
    STORAGE_SIZE: "1Gi"
# Does not work due to string to int type mismatch:
#    REPLICAS: 2

  PROVIDER_SPOTIFY:
    DEPLOY: true
    SPOTIFY_CALLBACK_URL: "http://{{STAGE}}.opendj.io/api/provider-spotify/v1/auth_callback"
    SPOTIFY_CLIENT_ID: "{{VAULT_SPOTIFY_CLIENT_ID}}"
    SPOTIFY_CLIENT_SECRET: "{{VAULT_SPOTIFY_CLIENT_SECRET}}"

  SERVICE_PLAYLIST:
    DEPLOY: true

  SERVICE_WEB:
    DEPLOY: true
    THROTTLE_EMITTER_PLAYLIST: 5000

  SERVICE_HOUSEKEEPING:
    DEPLOY: true

  SERVICE_EVENTACTIVITY:
    PROVIDER_URL: "http://service-eventactivity:8080/api/service-eventactivity/v1/"
    DEPLOY: true
    EMIT_ACTIVITY: true


  FRONTEND_WEB:
    DEPLOY: true
# Do not specific host - use relative hostname to allow switch between http/https:
    WEBSOCKET_HOST: ""
    API_HOST: ""
    SERVER_TIMEOUT: "5000"
    INSECURE_EDGE_TERMINATION: "Allow"
    SPOTIFY_CALLBACK_URL: "http://{{STAGE}}.opendj.io/api/provider-spotify/v1/auth_callback"
    USE_RUNTIME_IMAGE: true
